/* ============> Global Styles <============= */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

i {
  color: #3882f6;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

p {
  font-size: 0.875em;
  color: #e5e7eb;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3882f6;
  color: #e5e7eb;
}

/* ----------------------> Mobile Styles <--------------------- */

/* ->-===-> Header  <-===-<- */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #1f2937;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header .logo p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.header-divider {
  width: 80%;
  height: 1px;
  margin: 10px 0 20px 0;
  background-color: #3882f6;
}

/* ->-===-> Hero Section  <-===-<- */
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #1f2937;
}

.hero-area h1 {
  font-size: 1.875em;
  color: #f9faf8;
  font-weight: 700;
}

.hero-area .content-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.hero-area img {
  width: 80%;
}
/* ->-===-> Products Section  <-===-<- */
#products .product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#products .product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#products figure {
  width: 80%;
}

#products figure img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 8px 4px 9px #3882f6;
}

#products p {
  color: #1f2937;
}

/* ->-===-> Quote Section  <-===-<- */
#quote {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #e5e7eb;
  color: #1f2937;
}

/* ->-===-> Call to action section  <-===-<- */
.call-to-action .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #3882f6;
  padding: 20px;
}

.call-to-action h2,
p {
  color: #f9faf8;
  padding: 10px 20px;
}

.call-to-action button {
  background-color: transparent;
  border: 2px solid #f9faf8;
}
/* ->-===-> Footer  <-===-<- */
footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

/* ----------------------> Tablet and Desktop Breakpoints <--------------------- */

@media only screen and (min-width: 768px) {
  /* ->-===-> Tablet Styles  <-===-<- */

  /* ---> Header <--- */
  header .content-wrapper {
    justify-content: space-between;
    padding: 0 35px;
  }

  .header-divider {
    display: none;
  }

  header nav {
    width: 35%;
  }

  /* ---> Hero Area <--- */
  .hero-area .content-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
  .hero-content {
    width: 40%;
    text-align: left;
  }

  .hero-content h1 {
    font-size: 1.5em;
  }

  .hero-content p {
    font-size: 0.7em;
  }

  /* ---> Products Section <--- */
  #products .product-item {
    flex-basis: 40%;
  }

  #products p {
    padding: 0 12px;
    text-align: center;
  }

  /* ---> Products Section <--- */
  .call-to-action .content-wrapper {
    justify-content: space-around;
    height: 140px;
    border: none;
    border-radius: 10px;
  }

  .call-to-action-description {
    width: 60%;
  }

  .call-to-action h2,
  p {
    text-align: left;
    padding: 0;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 1200px) {
  header .content-wrapper {
    justify-content: space-around;
    padding: 0;
  }

  figure {
    margin: 0;
  }

  .hero-area .content-wrapper {
    width: 76%;
  }
  .hero-content h1 {
    font-size: 2em;
  }

  .hero-content p {
    font-size: 1em;
    margin: 20px 0;
  }

  header nav ul {
    justify-content: space-around;
  }

  #products .product-item {
    flex-basis: 20%;
  }

  #quote .content-wrapper {
    width: 50%;
  }

  .call-to-action .content-wrapper {
    width: 76%;
  }
}
